/*++

Copyright (c) Microsoft Corporation All Rights Reserved

Module Name:

    crosecbus.rc

Abstract:

--*/

#include <windows.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Framework EC"
#define VER_INTERNALNAME_STR        "crosecbus.sys"
#define VER_ORIGINALFILENAME_STR    "crosecbus.sys"

#define VER_LEGALCOPYRIGHT_YEARS    "2023-2025"
#define VER_LEGALCOPYRIGHT_STR	    "Copyright (C) " VER_LEGALCOPYRIGHT_YEARS " CoolStar, Framework Computer Inc."

#define VER_FILEVERSION 0,0,0,6
#define VER_PRODUCTVERSION_STR "0.0.0.6"
#define VER_PRODUCTVERSION 0,0,0,6
#define LVER_PRODUCTVERSION_STR L"0.0.0.6"

#define VER_FILEFLAGSMASK		(VS_FF_DEBUG | VS_FF_PRERELEASE)
#ifdef DEBUG
#define VER_FILEFLAGS			(VS_FF_DEBUG)
#else
#define VER_FILEFLAGS			(0)
#endif

#define VER_FILEOS				VOS_NT_WINDOWS32

#define VER_COMPANYNAME_STR         "Framework Computer"
#define VER_PRODUCTNAME_STR         "Framework EC"

#include "common.ver"
